section {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

h1 {
  margin: 1rem 0 2rem;
}

section p {
  max-width: 55ch;
}

section a {
  text-decoration: underline !important;
}

section img {
  height: 40px;
  width: 52px;
  transition: all 0.3s ease;
}

section img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.express {
  background-color: var(--paper);
}

.stack {
  max-width: 70%;
}
