.section__block {
  display: grid;
  grid-template-columns: 58% 42%;
  margin-bottom: 2rem;
}

.section__block img {
  max-width: 322px;
  width: 100%;
  object-fit: cover;
}

.section__block img:hover {
  transition: all 0.3s ease;
  opacity: 0.7;
}

.section__block p,
h2 {
  margin: 0;
}

.block__left h2 {
  color: var(--paper);
  transition: all 0.3s ease;
  width: fit-content;
  margin-top: 2rem;
}

.block__left p {
  margin: 2rem 0 2rem;
}

.block__left h2:hover {
  color: var(--cordovan);
}

.section__p {
  width: var(--width-block);
}

/* .block__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} */

.block__left div {
  width: 80%;
}

.block__right {
  display: flex;
}

@media (max-width: 600px) {
  .section__block {
    grid-template-columns: none;
    grid-template-rows: 60% 40%;
  }

  .section__block img {
    max-width: 540px;
  }
}
